# RabbitMQ
RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
RABBITMQ_QUEUE=user_events

# Mailtrap SMTP
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASS=your_mailtrap_pass
MAIL_FROM_NAME=Microservices App
MAIL_FROM_ADDRESS=noreply@app.com
